@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body, nav{
    margin-left: 100px;
    margin-right: 100px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  position: absolute;
}
#login{
    color: #ffffff;
}
:root{
    --cor-principal:#f3f2f2d3; 
    --cor-texto: #000000;
    --fonte-titulo: 'Frank Ruhl Libre', serif;
}

body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);

}
header {
    top: 0px;
    left: 0px;
    right: 0px;
    position:fixed;
    z-index: 2;
    margin-left: -100px;
    margin-right: -100px
}
main{
    margin-top: 50px;
    margin-right: 50px;
}
main section{
    background-color: blue;
    color: white;
    font-size: 50px;
    text-align: center;
    border: 1px solid gray;
    margin:10px;
    border-radius: 10px;
    
}
.div1{
    min-width: 600px;
    min-height: 375px;
}
div,section {
    min-height: 80px;
    borer: 1px solid red;
}

#logo {
   display: none;
}

#logo>span {

    width: 80px;
    color: rgb(61, 61, 61);
    text-align: right;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: right;
    font-family: 'Libre Baskerville', serif;
    
}
#titulo-do-site h1{
    font-size:35px;
}
#topicos {
    flex-grow: 1;
    height: 80px;

}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid red;
    flex:1;

}
aside{
    float:right;
display: flex;
flex-direction: column;
width: 300px;
padding-top: 30px;
padding-right: 300px;
}
.main-aside{
display: flex;

}
aside>img{
margin-top: 10px;
}
aside>p{
position: absolute;
padding: 3px;
padding-left: 5px;
padding-right: 5px;
margin-top: 505px;
margin-left: 230px;
background-color: rgb(0, 78, 10);
color: #ffffff;
}
.home{
    color:green
}
.home:hover{
    color: rgba(255, 252, 46, 0.966);
}
#titulo-do-site {
    display: grid;
    grid-template-columns: 33fr 1fr 1fr;
    height: 110px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;

}
#titulo-do-site, .melhoresnoticias{
    background-image: linear-gradient(to left, rgba(24, 24, 170, 0.822),rgba(19, 155, 19, 0.849));
}

.nav-principal {
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;

}

#topicos {
    
    align-items: center;

}

#topicos ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;

}

.nav-topicos {
    height: 100%;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: green;
    font-weight: 400;
}

.icon-menu {
    display: none;
}

.mobile-menu {
    display: none;
}
#nova-logo{
    display: none;
    width: 100px;
}
#logo-central{
    display: none;
}
nav.ativo{
    background-color: rgb(235, 235, 235);
}
.nav-link.ativo{
    color: rgba(255, 255, 255, 0.863);
}
#logo.ativo{
    display: flex;
    align-items: center;
    width: 120px;
    height: 80px;
}
.melhoresnoticias h1{
    height: 40px;
    font-size: 15px;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
    margin-left: 250px;

}
.melhoresnoticias{
   min-height: 25px;
}
#titulo-do-site{
    height:70px;
} 
#titulo-do-site>div {
    min-height: 50px; 
}
.instagram{
    display: inline;
    width: 30px;
}
.instagram span{
    display: inline;
}
.titulo-site{
    min-height: 50px;
    display: flex;
    margin-left:300px;
    align-items:end;
}
.menu-a{
    height: 100%;
}
nav li a{
    display: inline-block;
    padding: 30px;
}
.menu-hover{
    margin-left: -300px;
    width: max-content;
    background-color: rgb(235, 235, 235);
    border: 1px solid #000000;
    position: absolute;
    display: none;
    box-shadow: 10px 5px 5px rgba(114, 114, 114, 0.767);
    border-radius: 5%;
}
.menu-hover a{
    display: block;

}
.nav-link:hover{
    border-radius: 15%;
    color: rgba(255, 252, 46, 0.966);
    /*background-color: rgb(86, 104, 163);*/
}
.nav-topicos:hover .menu-hover{
    display: block;

}
footer{
    background-color: rgb(38, 76, 148);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -320px;
    margin-right: -320px;
    height:250px
}
.contato{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-right: 100px;
    margin-left: 100px;
}
.contato>div{
    align-items: center;
}
.contato img{
    display: inline;
    margin-top: 17px;
}
strong{
    color: #262629;
}
.about{
    display: grid;
    grid-template-rows: auto 1fr;
    margin-right: 100px;
    margin-left: 100px;
}
.apps{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.alinhamento{
    margin-top: 20px;
    margin-left: 5px;
    justify-content: center;
}
.titulo-about{
    font-size: 15px;
    color:#000000;
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: left;
    
}
#noticia1{
    outline: 3px solid black;
    width: 400px;
    height: 250px;
    overflow: hidden;
}
#noticia1 ul{
    display:flex;
    list-style: none;
    width: 1800px;
    height: auto;
}

#noticia1 li{
    position:relative;
    animation:slide 15s infinite ease-out;
}
#img1,#img2,#img3{
    display:block;
}
@keyframes slide{
    0%{left: 0px}
    20%{left: 0px}
    30%{left: -600px}
    50%{left: -600px}
    60%{left:-1200px}
    80%{left: -1200px}
    100%{left: 0px}

}
#img1{
    background-image: url("../imagens/cultura3.webp");
    width: 600px;
    height: 375px;
    background-repeat: no-repeat;
    background-size: cover;

}
#img2{
    background-image: url("../imagens/politica1.webp");
    width: 600px;
    height: 375px;
    background-repeat: no-repeat;
    background-size: cover;

}
#img3{
    background-image: url("../imagens/saude1.webp");
    width: 600px;
    height: 375px;
    background-repeat: no-repeat;
    background-size: cover;

}
#img5{
    background-image: url("../imagens/esporte1.webp");
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
}
#img6{
    background-image: url("../imagens/politica2.webp");
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
}
    #img7{
        background-image: url("../imagens/esporte2.webp");
        width: 300px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5%;
    
    }
    #img8{
        background-image: url("../imagens/famosos2.webp");
        width: 300px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5%;
    
    }

#noticia2{
    display:inline-block;
    height: 200px;
}
#noticia2>a{
    display:block;
}
.noticia1{
    display: block;
    margin-top: -4px;
}



li>p{
    display:block;
    font-size: 35px;
    position: relative;
    color:white ;
    background-color: #acacac81;
    margin-top: -150px;
  
}
.c2{
    margin-top: -130px;;
}
.c4{
    display:block;
    font-size: 15px;
    position: relative;
    color:white ;
    background-color: #acacac81;
    margin-top: -45px;
}
.categoria{
    display:inline-block;
    position: absolute;
    margin-top:-75px;
    margin-left: -130px;
    padding: 3px;
    background-color: green;
    background-size: 20%;
    border-radius: 20%;
    font-size: 13px;
}
.categoria2{
    display:inline-block;
    position: absolute;
    margin-top:-160px;
    margin-left: -220px;
    padding: 3px;
    background-color: green;
    background-size: 20%;
    border-radius: 20%;
    font-size: 13px;
}
.categoria3{
    display:inline-block;
    position: absolute;
    margin-top:-120px;
    margin-left: -220px;
    padding: 3px;
    background-color: green;
    background-size: 20%;
    border-radius: 20%;
    font-size: 13px;
}
#img1>a{
    display: inline;
}
.noticias-pequenas{
    background-color: rgb(233, 232, 232);
display: grid;
grid-template-columns: 1fr;
min-width: 300px;
min-height: 100px;
border-radius: 4%;
overflow: hidden;
margin-top: 10px;
}

.noticias-pequenas>div>img{ 
    width: 100%;
    height:100%;
}
.noticias-pequenas>p{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}
.noticias-pequenas>a{
    text-decoration: none;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:green;
}
.noticias-pequenas>a:hover{
    color:rgb(251, 255, 0);
}
.aside-main{
    display: none;
}
@media screen and (max-width: 2000px) {
    body, nav{
        margin-left: 320px;
        margin-right: 320px;
    }
}
@media screen and (max-width: 1400px) {
    body, nav{
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media screen and (max-width: 1205px) {
    body, nav{
        margin-left: 0px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 1200px) {
    aside{
        display:none;
    }
    .aside-main{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-top: 30px;
    padding-right: 300px;
    }
    .aside-main>img{
    margin-top: 10px;
    }
    .aside-main>p{
    position: absolute;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 505px;
    margin-left: 230px;
    background-color: rgb(0, 78, 10);
    color: #ffffff;
    }
    .noticias-pequenas{
        background-color: rgb(233, 232, 232);
    display: grid;
    grid-template-columns: 1fr;
    min-width: 300px;
    min-height: 100px;
    border-radius: 4%;
    overflow: hidden;
    margin-top: 10px;
    }
    
    .noticias-pequenas>div>img{ 
        width: 100%;
        height:100%;
    }
    .noticias-pequenas2{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20px;
    }
    .noticias-pequenas>a{
        text-decoration: none;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        color:green;
    }
    .noticias-pequenas>a:hover{
        color:rgb(251, 255, 0);
    }
    body, nav{
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media screen and (max-width: 1300px) {
    #topicos{
        display: none;
    }
    .nav-principal {
        padding: 0px 50px;
    }

    .nav-topicos {
        display: none;
    }

    .icon-menu {
        display: block;
    }

    .icon-menu button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-top: 30px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 16px;
    }

    .mobile-menu .nav-topicos {
        display: block;
        padding-top: 20px;
    }
    .open {
        display: block; 
        height: 0px;
       
    }


    #menu-a{
        width: 50vh;
        background-color: #ffffff;
        margin-top: 0;
        position: absolute;
        justify-content: flex-end;
    }
    li:hover {
        display: block;
        background-color: blue;
    
    }
    #logo{
        display:none
    }
    #nova-logo{
        display: flex;
        align-items: center;
    }
    #logo-central.ativo{
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    #logo-central>div{
        display: inline-block;
        margin-left: 20px;
        float: right;
    }
    ul{
        padding: 0;
    }
    #logo.ativo{
        display: none;
    }
    .nav-link:hover{
        background-color: rgb(47, 0, 255);
    }
    .mobile-menu.open{
        background-color: rgba(255, 255, 255, 0);
        
    }
}
@media screen and (max-width: 900px) {
    body, nav{
        margin-left: 0px;
        margin-right: 0px;
    }
    header{
        margin:0px;
    }
    .titulo-site{
        margin-left:50px;
    }
    .melhoresnoticias h1 {
        height: 40px;
        font-size: 15px;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: start;
        margin-left: 50px;
    }
}

@media screen and (max-width: 750px) {
    #noticia1 {
        outline: 3px solid black;
        width: 300px;
        height: 200px;
        overflow: hidden;
    }
    .div1 {
        min-width: 300px;
        min-height: 200px;
    }
    #noticia1 ul {
        display: flex;
        list-style: none;
        width: 900px;
        height: auto;
    }
    #img1, #img2, #img3 {
        width: 300px;
        height: 200px;
    }
    @keyframes slide{
        0%{left: 0px}
        20%{left: 0px}
        30%{left: -300px}
        50%{left: -300px}
        60%{left:-600px}
        80%{left: -600px}
        100%{left: 0px}
    
    }
    .c2 {
        margin-top: -40px;
    }
    li>p {
        display: block;
        font-size: 15px;
        position: relative;
        color: white;
        background-color: #acacac81;
        margin-top: -110px;
    }
    .categoria2 {
        display: inline-block;
        position: absolute;
        margin-top: -80px;
        margin-left: -100px;
        padding: 3px;
        background-color: green;
        background-size: 20%;
        border-radius: 20%;
        font-size: 13px;
    }
    .categoria3 {
        display: inline-block;
        position: absolute;
        margin-top: -80px;
        margin-left: -100px;
        padding: 3px;
        background-color: green;
        background-size: 20%;
        border-radius: 20%;
        font-size: 13px;
    }

    footer {
        background-color: rgb(38, 76, 148);
        display: grid;
        grid-template-columns: 2fr 5fr;
         margin-left: 0px; 
        margin-right: 0px; 
        height: 250px;
    }
    .contato {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        margin-right: 10px;
        margin-left: 10px;
        width:40px
    }
    .about {
        display: grid;
        grid-template-rows: auto 1fr;
        margin-right: 10px;
        margin-left: 10px;
        width: 40px;
    }
    strong{
        font-size: 12px;
    }
    .titulo-about{
        font-size: 13px;
    }
}
.categorias{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px 100px;
}
.principal{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 15px 75px
}


#noticia-principal{
    border: 1px solid black;
    height: 1000px;
}



